@import "mixins/fill_parent"
@import "mixins/constants"

*
  box-sizing: border-box

body
  font-family: $theme-font-display

p
  font-family: $theme-font-content

button,
.button,
input[type=submit]
  background: $theme-red
  color: white
  text-transform: uppercase
  border: 0
  border-radius: 0
  font-weight: normal
  font-size: 15px
  display: inline-block
  padding: 4px 20px 2px
  height: auto
  text-decoration: none

  &:hover
    background-color: $theme-red-hover
    color: white

.home-section
  background: $theme-light-gray
  margin-bottom: $section-margin
  position: relative
  padding: $page-gutter

  @media (max-width: 499px)
    padding: $page-gutter-small-screen

  &:last-child
    margin-bottom: 0

.hero
  background: $theme-dark-gray
  height: 56vw

  .video
    @extend %fill-parent
    cursor: pointer

  .overlay
    @extend %fill-parent
    background: rgba(30, 30, 30, 0.7)
    transition: 0.2s

    &:hover
      background: rgba(30, 30, 30, 0)

    @media (max-width: 699px)
      display: none

.live-stream
  background: $theme-red
  color: white
  height: 42vw

  .content
    position: relative

  h2,
  p
    margin-right: 70%

  .stream-container
    position: absolute
    right: 0
    top: 0
    width: 66.666%
    padding-top: 37.7%
    line-height: 0
    overflow: hidden

  iframe
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    border: 0

  @media (max-width: 800px)
    height: auto

    h2,
    p
      margin-right: 0
      text-align: center

    .stream-container
      position: static
      width: auto
      height: 50vw
      padding: 0

    iframe
      position: relative

.im-new,
.about,
.calendar
  text-align: center
  padding-top: 100px
  font-size: 80px
  color: rgba(255, 255, 255, 0.3)
  font-weight: $light

.newsletter
  background: $theme-dark-gray
  color: $theme-light-gray
  text-align: center

  p
    margin: 0

  a
    color: white
    font-weight: bold
    text-decoration: none

  label
    display: none

  input
    margin: 0
    height: 44px
    overflow: hidden

    @media (max-width: 600px)
      margin: 0 0 10px

    &[type=email]
      border: none
      border-radius: 0
      width: 300px
      text-align: center
      font-size: 17px
      color: $theme-text-body-copy-color

    &[type=submit]
      margin-left: 10px

.about
  background: $theme-red

.home-section .content
  max-width: $max-content-width
  margin: 0 auto

.im-new,
.about
  .content
    @media (min-width: 900px)
      display: flex
      justify-content: stretch

.im-new,
.about
  padding-top: 0
  overflow: hidden

  @media (max-width: 899px)
    .segment
      padding-bottom: 90px

  @media (min-width: 900px)
    p
      min-height: 140px

  h2, h3
    clear: left

.im-new
  color: $theme-text-body-copy-color

  .content
    padding-top: $page-gutter * 3 / 2

    @media (max-width: 499px)
      padding-top: $page-gutter-small-screen * 3 / 2

  &:before
    content: "I'm new"
    text-transform: uppercase
    position: absolute
    bottom: -15vw
    left: 0
    font-size: 26vw
    color: white
    text-align: left
    white-space: nowrap
    max-width: $max-content-width
    margin: 0 auto

.segment
  position: relative
  flex: 1
  padding-right: $page-gutter / 2
  padding-bottom: $page-gutter / 4

  @media (max-width: 900px)
    padding-bottom: $page-gutter

  h2,
  p
    text-align: left

  h2
    font-size: 30px
    font-weight: 600

    @media (max-width: 500px)
      font-size: 24px

  p
    font-size: 16px
    font-family: sans-serif
    line-height: 1.9em

  button,
  .button
    width: auto
    float: left

.about
  color: white
  padding-top: 11vw

  @media (max-width: 499px)
    padding-top: 16vw

  .content
    padding-top: $page-gutter / 2
    padding-bottom: 0

  .screen
    @extend %fill-parent
    top: 10vw
    background: transparentize($theme-red, 0.1)

    @media (max-width: 499px)
      top: 15vw

  @media (min-width: 900px)
    p
      min-height: 160px

  &:before
    content: "About Us"
    text-transform: uppercase
    position: absolute
    left: 0
    font-size: 20.5vw
    color: $theme-text-body-copy-color
    text-align: left
    white-space: nowrap
    top: -4vw

  .button
    background-color: darken($theme-red, 15)

    &:hover
      box-shadow: inset 0 0 0 1px white

  @media (max-width: 699px)
    .segment
      padding-right: 28px

.calendar
  padding: 30px 0
  height: 66vw
  overflow: hidden

  h2
    text-transform: uppercase
    font-style: italic
    font-weight: bold
    color: white
    font-size: 100px
    line-height: 50px
    font-size: 11vw

    @media (max-width: 699px)
      line-height: 30px
      position: relative
      top: -18px

  .video
    @extend %fill-parent
    top: 100px

    @media (max-width: 699px)
      top: 50px

.photos-1,
.photos-2,
.splash
  background-image: image_url("photos-1.jpg")
  background-size: 100%
  background-position: center center
  min-height: 0
  height: 22vw

.photos-2
  background-image: image_url("photos-2.jpg")
  height: 20vw

.splash
  background-image: image_url("panel-quiet-church.jpg")
  height: 48vw
  background-repeat: no-repeat
  background-color: $theme-red

