// The menu system on the site is relatively complex--the menu can
// appear in three different modes:
//  1. normally the menu appears as a line on the top of the page
//  2. on small screens, the menu is hidden, and to show it, the user must tap
//     the "menu" button
//  3. on the home page, an alternative menu is shown until the user starts
//     scrolling.
//
// The "hero-menu" is the home page menu (3), the other modes are handled by
// the "site-menu."

@import "mixins/fill_parent"
@import "mixins/constants"

.hero-menu,
.site-menu
  transition: .5s
  background: $theme-menu-background

.hero-menu
  width: 480px
  height: 239px
  padding: 0 0 0 240px
  position: absolute
  left: 50%
  margin-left: -240px
  bottom: 60px
  overflow: hidden

  .is-scrolled &
    opacity: 0

  @media (max-width: 699px)
    display: none

  .logo
    @extend %fill-parent-left
    width: 50%
    background: $theme-red image_url("logo.png") no-repeat center 32px
    background-size: 110px 109px

    em, span
      display: block
      color: white
      text-transform: uppercase
      text-align: center

    em
      font-style: normal
      font-size: 41px
      letter-spacing: 1px
      font-weight: $light
      padding-top: 148px

    span
      font-size: 13px
      letter-spacing: .6px
      opacity: 0.7
      font-weight: $medium
      text-indent: 1px

  .menu-items
    display: flex
    flex-direction: column
    margin: 15px 0
    position: relative
    top: 1px
    height: 210px

  a
    flex: 1
    display: block
    text-decoration: none
    color: white
    text-transform: uppercase
    font-size: 19px
    text-indent: 35px
    line-height: 34px

    &:hover
      opacity: .85

    &:after
      content: ' »'

.site-menu
  @extend %fill-parent-top
  height: $menu-height
  z-index: $menu-layer

  @media (min-width: 700px)
    position: fixed

    .is-root-home &
      opacity: 0
      pointer-events: none

    .is-root-home.is-scrolled &
      opacity: 1
      pointer-events: all

  .menu
    position: relative
    height: $menu-height
    max-width: $max-content-width
    margin: 0 auto
    padding: 0 20px 0 70px
    vertical-align: top
    text-align: center
    border-right: 50px solid rgba(255,255,255,0.1)

    .logo
      @extend %fill-parent-left
      width: 50px
      height: 50px
      background: $theme-red image_url("logo.png") no-repeat center center
      background-size: 34px 34px

      em,
      span
        display: none

    a
      position: relative
      display: inline-block
      text-decoration: none
      text-transform: uppercase
      color: white
      line-height: 40px
      font-size: 18px
      padding: 0 16px
      height: 50px
      line-height: 50px

      &:not(.is-active):not(.logo):hover
        opacity: 0.7

      &.logo:not(.is-active):hover
        background-color: $theme-red-hover

      // The selected menu item gets an "underline" effect
      &:after
        content: ''
        @extend %fill-parent-bottom
        left: 16px
        right: 16px
        height: 5px
        background: $theme-light-gray
        opacity: 0
        transition: .2s

      &.is-active
        cursor: default

        &:after
          opacity: 1

    // On smaller screen sizes, compress the menu a bit to make it fit
    @media (max-width: 1000px)
      a
        font-size: 16px
        padding: 0 12px

        &:after
          left: 12px
          right: 12px

    @media (max-width: 900px)
      a
        font-size: 14px
        padding: 0 8px

        &:after
          left: 8px
          right: 8px

  // On small screen sizes (mobile phones, typically), the menu goes away and is
  // replaced by a toggle that will show/hide it
  @media (min-width: 750px)
    .toggle
      display: none

  @media (max-width: 749px)
    // The toggle button can be tapped to show/hide menu
    .toggle
      display: block
      position: absolute
      top: 15px
      right: 15px
      background: none
      width: 80px
      height: 80px

      &:before,
      &:after
        color: white
        font-weight: $medium
        line-height: 80px
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        border-radius: 50%
        transition: .3s
        text-align: center

      // Unless the menu is active, show a red menu button
      &:before
        background: $theme-red
        content: 'MENU'
        font-size: 15px
        transform: rotateZ(0deg)
        opacity: 1

      &:hover:before
        background: $theme-red-hover

      // When the menu is active, flip to show a gray close button
      &:after
        background: $theme-medium-gray
        content: '×'
        font-size: 40px
        transform: rotateZ(90deg)
        opacity: 0

    &.is-active .toggle
      &:before
        transform: rotateZ(-90deg)
        opacity: 0

      &:after
        transform: rotateZ(0deg)
        opacity: 1

    .menu
      position: fixed
      top: 0
      left: 0
      right: 0
      bottom: 0
      height: auto
      border: none
      padding: 0
      background: $theme-menu-background
      pointer-events: none
      opacity: 0
      transition: opacity .3s

      .logo
        display: none

      .menu-items
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        display: flex
        flex-direction: column

      a
        display: block
        flex: 1
        font-size: 4.5vh
        line-height: 14vh
        box-shadow: inset 0 -1px 0 0 $theme-medium-gray

        &:last-of-type
          box-shadow: none

        &:after
          display: none

        &.is-active
          color: $theme-medium-light-gray

    &.is-active .menu
      opacity: 1
      pointer-events: all

  @media (max-width: 749px)
    &:before
      content: ''
      display: inline-block
      height: $menu-height
      width: $menu-height
      float: left
      background: image_url("logo.png") no-repeat center center
      background-size: 25px 25px

    &:after
      content: 'City Life Church San Francisco'
      color: $theme-light-gray
      text-transform: uppercase
      letter-spacing: 1px
      line-height: $menu-height

  @media (max-width: 499px)
    &:after
      left: $page-gutter-small-screen
      content: 'City Life Church SF'

  @media (max-width: 320px)
    &:after
      content: 'City Life SF'


