@import "mixins/fill_parent"
@import "mixins/constants"

.root-container,
.page,
.home
  @extend %fill-parent
  oveflow: hidden

.page,
.home
  overflow: auto
  transition: .4s
  background: white
  transform: translate(0, 0)
  backface-visibility: hidden

  .is-javascript-enabled &
    // Screen that fades away the content when something new is entering
    &:after
      content: ''
      pointer-events: none
      @extend %fill-parent
      background: transparentize($theme-dark-gray, .5)
      opacity: 0
      transition: .4s

    &.page-transition-enter
      transform: translate(100%, 0)
      z-index: 1

    &.page-transition-enter-active
      transform: translate(0, 0)
      z-index: 1

    &.page-transition-leave
      &:after
        opacity: 0

    &.page-transition-leave-active
      &:after
        opacity: 1

.page-content
  padding: 0
  transition: .4s .3s

  .page-transition-enter &
    opacity: 0

  .page-transition-enter-active &
    opacity: 1

  h3
    text-transform: uppercase
    font-size: 20px
    letter-spacing: 1px
    font-weight: normal
    margin-top: 40px
    color: $theme-red

  h5
    font-weight: normal
    font-size: 20px
    margin: 0

  h6
    font-weight: bold
    font-size: 20px

  p, li
    font-size: 16px
    font-family: sans-serif
    font-weight: 100
    line-height: 1.8em

  > section
    margin-top: $section-margin
    padding: 30px 20px 50px

    h1, h2
      flex-basis: 100%
      padding: 20px 20px 10px

    > div
      max-width: 1400px
      margin: 0 auto

      @media (min-width: 1100px)
        display: flex
        flex-wrap: wrap

      > section
        flex: 1
        margin: 0 20px 60px

        @media (min-width: 1100px)
          margin-bottom: 0

section.pastors
  background: $theme-lighter-gray

  img
    width: 150px
    height: auto

    @media (min-width: 700px) and (max-width: 1100px)
      float: right
      margin: 0 0 30px 30px

    @media (max-width: 1100px)
      width: 200px

section.directors
  background: $theme-red
  color: white
  border-bottom: 26px solid $theme-dark-gray

  a
    color: white

    &:hover
      opacity: 0.8

  > div > section
    display: flex
    flex-wrap: wrap

    p
      line-height: 1.5em
      margin: 0 0 30px
      flex-basis: 100%
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
      padding-right: 30px

      @media (min-width: 600px)
        flex-basis: 50%

      @media (min-width: 800px)
        flex-basis: 33.33%

      @media (min-width: 1100px)
        flex-basis: 20%

section.welcome
  background: $theme-red
  color: white

  h2
    font-size: 56px
    font-weight: bold

  p
    font-size: 20px

section.what-to-expect
  @media (min-width: 1100px)
    h2
      text-align: center

  // When & Where
  section:last-of-type
    background: $theme-lighter-gray

    @media (max-width: 1099px)
      padding: 30px 50px
      margin: -30px

    @media (min-width: 1100px)
      flex: 0.5
      padding: 30px
      margin: 0 0 30px 30px

    h3
      margin-top: 10px

    b
      display: block

section.groups
  > div > section:first-of-type
    flex-basis: 100%
    min-width: 100%

section.equipping
  background: $theme-dark-gray
  color: white

  > div > section:nth-child(3)
    flex: 2

section.full-size-photo
  height: 50vw
  overflow: hidden

  h2
    display: none

  img
    width: calc(100% + 100px)
    height: auto
    margin: 0 -50px

.expandible-page-subsection
  position: relative

  .content
    max-height: 500px
    overflow: hidden
    transition: .6s

  &.is-expanded .content
    max-height: 100000px

  .expand-shade
    margin-top: -100px
    position: relative
    display: block
    background: linear-gradient(to bottom, transparentize($theme-lighter-gray, 1), $theme-lighter-gray)
    border-bottom: 20px solid $theme-lighter-gray
    height: 100px
    pointer-events: none
    transition: .6s

    section.platform &
      background: linear-gradient(to bottom, transparentize(white, 1), white)
      border-bottom: 20px solid white

  &.is-expanded .expand-shade
    opacity: 0
