<h2>City Life Admin</h2>

<p>Welcome to the City Life website's admin panel. Here, you can add, remove and
update the following:</p>

<ul>
  <li><%= link_to 'Calendar Events', '/admin/calendar_events' %></li>
  <li><%= link_to 'Posts', '/admin/posts' %></li>
</ul>
