<%
  @page_title = t('.title')
  admin_title(@page_title)
%>

<%= form_for Typus.user_class_as_symbol,
             url: { action: :send_password },
             html: { class: "form-signin" } do |form| %>
  <%= render partial: "form", locals: { form: form } %>
<% end %>

<% content_for :actions do %>
  <ul>
    <li><%= link_to t('.remember_password'), new_admin_session_path %></li>
  </ul>
<% end %>
